<div class="about-container">
  <h3>About</h3>
  <p>
    Searchable web version of duuzu's 16,000+ song key & bpm database <br /> [last updated 24/06/2024 (version 9)]
  </p>
  <mat-divider></mat-divider>
  <div>
    Database createed by <a href="https://twitter.com/duuzu_">&#64;duuzu</a>
  </div>
  <div>
    Website created by <a href="https://twitter.com/Cyranek">&#64;cyranek</a>
  </div>
  <mat-divider></mat-divider>
  <a href="https://raw.githubusercontent.com/hncleary/duuzu-key-bpm-db/main/projects/duuzu-db-parser/keybpm.txt">Original
    Database .txt File</a>
  <mat-divider></mat-divider>
  <div>
    <a href="https://github.com/hncleary/duuzu-key-bpm-db">Source Code (Github)</a>
  </div>
</div>