<mat-card appearance="outlined">
    <h3>About</h3>
    <p>Searchable web version of duuzu's 19,000+ song key & bpm database</p>
    <mat-divider></mat-divider>
    <div>Database createed by <a href="https://twitter.com/duuzu_">&#64;duuzu</a></div>
    <div>Website created by <a href="https://twitter.com/Cyranek">&#64;cyranek</a></div>
    <mat-divider></mat-divider>
    <a href="https://raw.githubusercontent.com/hncleary/duuzu-key-bpm-db/main/projects/duuzu-db-parser/keybpm_v9.txt"
        >v9 Database .txt File</a
    >
    <a href="https://raw.githubusercontent.com/hncleary/duuzu-key-bpm-db/main/projects/duuzu-db-parser/keybpm_v10.txt"
        >v10 Database .txt File</a
    >
    <mat-divider></mat-divider>
    <div>
        <a href="https://github.com/hncleary/duuzu-key-bpm-db">Source Code (Github)</a>
    </div>
</mat-card>
