@import "../../../styles/mixins.scss";

:host {
  @include flex-row-center();
  gap: 10px;
  height: 100%;
  width: 100%;
  p {
    color: grey;
    font-size: 1rem;
    margin: 0;
  }
  .version {
    color: lightgray;
    font-size: 0.8rem;
  }
}
