@import '../../../styles/mixins.scss';

:host {
    @include flex-row-center();
    gap: 10px;
    height: 100%;
    width: 100%;
    p {
        color: gray;
        font-size: 0.7rem;
        margin: 0;
    }
    .version {
        color: gray;
        font-size: 0.7rem;
    }
    img {
        height: 15px;
    }
}
