<!-- Header Logo -->
<div class="header-title-container">
  <!--  -->
  <h3>duuzu key bpm db</h3>
</div>
<!-- Navigation Tabs -->
<div class="tabs-container">
  <nav
    mat-tab-nav-bar
    mat-stretch-tabs="false"
    animationDuration="0ms"
    mat-align-tabs="center"
    color="accent"
    [tabPanel]="tabPanel"
  >
    @for (page of pages; track page) {
    <a
      mat-tab-link
      (click)="currentRoute = page.route"
      [active]="currentRoute === page.route"
      [routerLink]="page.route"
      class="tab-link"
      [ngClass]="{ 'selected-tab': currentRoute === page.route }"
    >
      <div class="tab-display-container">
        <mat-icon>
          {{ page.icon }}
        </mat-icon>
        <p>{{ page.displayName }}</p>
      </div>
    </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
