:host {
  height: 100%;
  width: 100%;
  padding: 0px;
}
$header-height: 100px;
$footer-height: 30px;

.header-container {
  height: $header-height;
}

.main-content-container {
  width: 100%;
  height: calc(100% - $header-height - $footer-height - 0.3rem);
}

.footer-container {
  height: $footer-height;
  width: 100%;
}

mat-divider {
  width: calc(100% - 1rem);
  margin: auto;
  color: lightgray;
}
